<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="myBean" class="my.company.Bean">
        <property name="myProperty" value="<spot>text value</spot>"/>
    </bean>
</beans>
